/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex mono';
  --accent-color: #FF0070;
  --header-menu-color: #FF0070;
  --header-bg-image: url(../images/cover-image-dark.png);
  --header-decoration-color: #FF0070;
  --header-menu-hover-color: rgba(255, 0, 112, 0.4);
  --decoration-display: block;
  --title-color: #DB00FF;
  --header-text-color: #000028;
  --header-text-bg: #FF0070;
  --page-background-color: #000028;
  --topic-color: #FF0070;
  --card-title: #000028;
  --card-title-bg: #FF0070;
  --card-text-color: #F1B2CE;
  --link-shadow-color: #FF0070;
  --link-focus-color: #F1B2CE;
}